{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <!-- Title -->
    <title>AgriBizz - Farm Services &amp; Organic Food Store | Home</title>
    <!-- Favicon -->
    <link rel="icon" href="{% static 'img/core-img/favicon2.ico' %}">
    <!-- Core Stylesheet -->
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>

<body>
    <!-- Preloader -->
    <div class="preloader d-flex align-items-center justify-content-center">
        <div class="spinner"></div>
    </div>

    <!-- ##### Header Area Start ##### -->
    <header class="header-area">
        <!-- Top Header Area -->
        <div class="top-header-area">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="top-header-content d-flex align-items-center justify-content-between">
                            <!-- Top Header Content -->
                            <div class="top-header-meta">
                                <p>Welcome to <span>AgriBizz</span>, we hope you will enjoy our services and have good experience</p>
                            </div>
                            <!-- Top Header Content -->
                            <div class="top-header-meta text-right">
                                <a href="mailto:ibbypapi@gmail.com"  data-toggle="tooltip" data-placement="bottom" title="ibbypapi@gmail.com"><i class="fa fa-envelope-o" aria-hidden="true"></i> <span>Email: ibbypapi@gmail.com</span></a>
                                <a href="tel:+255748020076" data-toggle="tooltip" data-placement="bottom" title="+255 748 020 076"><i class="fa fa-phone" aria-hidden="true"></i> <span>Call Us: +255 748 020 076</span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Navbar Area -->
        <div class="famie-main-menu">
            <div class="classy-nav-container breakpoint-off">
                <div class="container">
                    <!-- Menu -->
                    <nav class="classy-navbar justify-content-between" id="famieNav">
                        <!-- Nav Brand -->
                        <a href="index.html" class="nav-brand"><img src="{% static 'img/core-img/logo.png' %}" alt="">
                            </a> 
                            <!-- Navbar Toggler -->
                            <div class="classy-navbar-toggler">
                                <span class="navbarToggler"><span></span><span></span><span></span></span>
                            </div>
                            <!-- Menu -->
                            <div class="classy-menu">
                                <!-- Close Button -->
                                <div class="classycloseIcon">
                                    <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                                </div>
                                <!-- Navbar Start -->
                                <div class="classynav">
                                    <ul>
                                        <li class="active"><a href="/">Home</a></li>
                                        <li><a href="#about">About</a></li>
                                        {% comment %} <li><a href="our-product.html">Our Product</a></li> {% endcomment %}
                                        <li><a href="farming_practice.html">Farming Practice</a></li>
                                        <li><a href="news.html">News</a></li>
                                        <li><a href="contact.html">Contact</a></li>
                                    </ul>
                                    <!-- Search Icon -->
                                    <div id="searchIcon">
                                        <i class="icon_search" aria-hidden="true"></i>
                                    </div>
                                    <!-- Cart Icon -->
                                    {% comment %} <div id="cartIcon">
                                        <a href="#">
                                            <i class="icon_cart_alt" aria-hidden="true"></i>
                                            <span class="cart-quantity">2</span>
                                        </a>
                                    </div> {% endcomment %}
                                </div>
                                <!-- Navbar End -->
                            </div>
                    </nav>

                    <!-- Search Form -->
                    <div class="search-form">
                        <form action="#" method="get">
                            <input type="search" name="search" id="search" placeholder="Type keywords &amp; press enter...">
                            <button type="submit" class="d-none"></button>
                        </form>
                        <!-- Close Icon -->
                        <div class="closeIcon"><i class="fa fa-times" aria-hidden="true"></i></div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- ##### Header Area End ##### -->

{% block content %} 
{% endblock %}

    <!-- ##### Footer Area Start ##### -->
    <footer class="footer-area">
        <!-- Main Footer Area -->
        <div class="main-footer bg-img bg-overlay section-padding-80-0" style="background-image: url({% static 'img/bg-img/3.jpg' %});">
            <div class="container">
                <div class="row">

                    <!-- Single Footer Widget Area -->
                    <div class="col-12 col-sm-6 col-lg-3">
                        <div class="footer-widget mb-80">
                            <p>Lorem ipsum dolor sit amet, consecte stare adipiscing elit. In act honcus risus atiner Pellentesque risus.</p>
                            <div class="contact-info">
                                <p><i class="fa fa-map-pin" aria-hidden="true"></i><span>Dar Es Salaam, Tanzania</span></p>
                                <p><i class="fa fa-envelope" aria-hidden="true"></i><span>ibbypapi@gmail.com</span></p>
                                <p><i class="fa fa-phone" aria-hidden="true"></i><span>+255 748 020 076</span></p>
                            </div>
                        </div>
                    </div>

                    {% comment %} <!-- Single Footer Widget Area -->
                    <div class="col-12 col-sm-6 col-lg-3">
                        <div class="footer-widget mb-80">
                            <h5 class="widget-title">QUICK LINK</h5>
                            <!-- Footer Widget Nav -->
                            <nav class="footer-widget-nav">
                                <ul>
                                    <li><a href="#">Home</a></li>
                                    <li><a href="#">About</a></li>
                                    <li><a href="#">Our Product</a></li>
                                    <li><a href="#">Farming Practices</a></li>
                                    <li><a href="#">News</a></li>
                                    <li><a href="#">Contact</a></li>
                                    <!-- <li><a href="#">Payments</a></li>
                                        <li><a href="#">Partners</a></li>
                                        <li><a href="#">Guide</a></li>
                                        <li><a href="#">Standard</a></li>
                                        <li><a href="#">News</a></li> -->
                                </ul>
                            </nav>
                        </div>
                    </div> {% endcomment %}

                    <!-- Single Footer Widget Area -->
                    <div class="col-12 col-sm-6 col-lg-3">
                        <div class="footer-widget mb-80">
                            <h5 class="widget-title">RECENT NEWS</h5>

                            <!-- Single Recent News Start -->
                            <div class="single-recent-blog d-flex align-items-center">
                                <div class="post-thumbnail">
                                    <img src="{% static 'img/bg-img/4.jpg' %}" alt="">
                                </div>
                                <div class="post-content">
                                    <a href="#" class="post-title">WA’s largest farming business on the market</a>
                                    <div class="post-date">18 Aug 2018</div>
                                </div>
                            </div>

                            <!-- Single Recent News Start -->
                            <div class="single-recent-blog d-flex align-items-center">
                                <div class="post-thumbnail">
                                    <img src="{% static 'img/bg-img/5.jpg' %}" alt="">
                                </div>
                                <div class="post-content">
                                    <a href="#" class="post-title">Beef retail prices hit a record</a>
                                    <div class="post-date">18 Aug 2018</div>
                                </div>
                            </div>

                        </div>
                    </div>

                    <!-- Single Footer Widget Area -->
                    <div class="col-12 col-sm-6 col-lg-3">
                        <div class="footer-widget mb-80">
                            <h5 class="widget-title">STAY CONNECTED</h5>
                            <!-- Footer Social Info -->
                            <div class="footer-social-info">
                                <a href="https://www.facebook.com/" target="_blank">
                                    <i class="fa fa-facebook" aria-hidden="true"></i>
                                    <span>Facebook</span>
                                </a>
                                <a href="https://www.instagram.com/" target="_blank">
                                    <i class="fa fa-instagram" aria-hidden="true"></i>
                                    <span>Instagram</span>
                                </a>
                                <a href="https://api.whatsapp.com/send?phone=255723756395" target="_blank">
                                    <i class="fa fa-whatsapp" aria-hidden="true"></i>
                                    <span>WhatsApp</span>
                                </a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <!-- Copywrite Area  -->
        <div class="copywrite-area">
            <div class="container">
                <div class="copywrite-text">
                    <div class="row align-items-center">
                        <div class="col-md-6">
                            <p>
                                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                Copyright &copy;
                                <script>
                                    document.write(new Date().getFullYear());
                                </script> All rights reserved | Made with <i class="fa fa-heart-o" aria-hidden="true"></i>
                                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            </p>
                        </div>
                        <div class="col-md-6">
                            <div class="footer-nav">
                                <nav>
                                    <ul>
                                        <li><a href="#">About</a></li>
                                        <li><a href="{% url 'farming_practice' %}">Practice</a></li>
                                        <li><a href="news.html">News</a></li>
                                        <li><a href="contact.html">Contact</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- ##### Footer Area End ##### -->

    <!-- ##### All Javascript Files ##### -->
    <!-- jquery 2.2.4  -->
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <!-- Popper js -->
    <script src="{% static 'js/popper.min.js' %}"></script>
    <!-- Bootstrap js -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <!-- Owl Carousel js -->
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    <!-- Classynav -->
    <script src="{% static 'js/classynav.js' %}"></script>
    <!-- Wow js -->
    <script src="{% static 'js/wow.min.js' %}"></script>
    <!-- Sticky js -->
    <script src="{% static 'js/jquery.sticky.js' %}"></script>
    <!-- Magnific Popup js -->
    <script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
    <!-- Scrollup js -->
    <script src="{% static 'js/jquery.scrollup.min.js' %}"></script>
    <!-- Jarallax js -->
    <script src="{% static 'js/jarallax.min.js' %}"></script>
    <!-- Jarallax Video js -->
    <script src="{% static 'js/jarallax-video.min.js' %}"></script>
    <!-- Active js -->
    <script src="{% static 'js/active.js' %}"></script>
</body>

</html>