{% extends 'base.html' %} 
{% load static %} 
{% block content %}
    <!-- ##### Breadcrumb Area Start ##### -->
    <div class="breadcrumb-area bg-img bg-overlay jarallax" style="background-image: url({% static 'img/bg-img/breadcrumb.jpg' %});">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12">
                    <div class="breadcrumb-text">
                        <h2>MarketPlace</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="famie-breadcrumb">
        <div class="container">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/"><i class="fa fa-home"></i> Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">MarketPlace</li>
                </ol>
            </nav>
        </div>
    </div>
    <!-- ##### Breadcrumb Area End ##### -->

    <!-- About Area -->
    <div class="container">
      <div class="row align-items-center">

        <!-- About Us Content ##### -->
        <div class="col-12 col-lg-6">
          <div class="about-us-content mb-100">
            <!-- Section Heading -->
            <div class="section-heading">
              <p>AgriBizz</p>
              <h2>MarketPlace</h2>
              <img src="{% static 'img/core-img/decor.png' %}" alt="">
            </div>
            <p>AgriBizz MarketPlace is a web platform that will help farmers to get market of their products without walking around by simply using mobile phones browser.
              This will enable them to reach the markets and especially the buyers of their products and agricultural products without the hassle of exporting the products to the market.
              Thus, through this platform farmers will be able to provide crop information, crop prices and their location so that buyers can reach them more easily.
               This will open and connect more retailers and consumers in the country and reduce the cost of access to agricultural products.
            </p>
          </div>
        </div>

        <!-- Famie -->
        <div class="col-12 col-lg-6">
          <div class="about-us-thumbnail mb-100">
            <img src="{% static 'img/bg-img/market.jpg' %}" alt="strawberries are harvested">
          </div>
        </div>

      </div>
    </div>
    <!-- About Area End ##### -->

    <section class='farming-practice-area section-padding-100-50 bg-gray'>
      <div class="container">
        <div class="row">
          <div class="col-12">
            <!-- Section Heading -->
            <div class="section-heading text-center">
                <p>AgriBizz MarketPlace</p>
                <h2><span>Let Your Product</span> Be Descovered</h2>
                <img src="{% static 'img/core-img/decor2.png' %}" alt="">
            </div>
          </div>
        </div>


        <div class=" wow fadeInUp" data-wow-delay="100ms">      
          <div class="row">
            {% for product in products %}
            <div class="col-md-4">
              <div class="card mb-4 card-pro hover" style="max-width: 100%;">
              	<div class="card-img" style="background-image:url({{product.thumbnail.url}});">
              		<div class="overlay">
              			<div class="overlay-content">
              				<a class="hover" href="{% url 'single_product' product.pk %}">View Product</a>
              			</div>
              		</div>
              	</div>
              	<div class="card-body">
                  <div class="d-flex justify-content-between align-items-center">
                    <div>
                      <a href="{% url 'single_product' product.pk %}"><h5 class="card-title p_title text-uppercase">{{ product.product_name }}</h5></a>
                    </div>
                    <div class="text-muted">
                      <h5 class="text-muted">{{ product.amount }} {{ product.scale }} </h5>
                    </div>
                  </div>
                  <div class="d-flex flex-column justify-content-between">
                    <div class="location text-center" style="font-size: 1.2rem;">
                      <span>
                        {% comment %} <i class="icon_pin_alt"></i> {% endcomment %}
                        {{ product.region }}, {{ product.location }}
                      </span>
                    </div>
                    <div class="price text-danger text-center" style="font-size: 1.2rem;">
                      <span>
                        TZS {{ product.price }}
                      </span>
                    </div>
                  </div>

              	</div>
                <div class="card-footer">
                  <i class="icon_calendar pr-2"></i><small class="text-muted">{{ product.date_created | date:"DATE_FORMAT" }}</small>
                </div>

                
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </section>
    <!-- Product Area End -->

{% endblock content %}