{% extends 'base.html' %}
{% block title %}Post Your product{% endblock title %}
{% load static %}
{% block content %}

    <!-- ##### Breadcrumb Area Start ##### -->
    <div class="breadcrumb-area bg-img bg-overlay jarallax" style="background-image: url({% static 'img/bg-img/breadcrumb.jpg' %});">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12">
                    <div class="breadcrumb-text">
                        <h2>Sell Products</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="famie-breadcrumb">
        <div class="container">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/"><i class="fa fa-home"></i> Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page"><a href="{% url 'market' %}">MarketPlace</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Sell Products</li>
                </ol>
            </nav>
        </div>
    </div>
    <!-- ##### Breadcrumb Area End ##### -->

    <!-- Post Product Form Area Start -->

    <section class="section-padding-80">
        <div class="container pb-5">
            {% for message in messages  %}            
              <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <strong>Invalid PhoneNumber: </strong> {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
            {% endfor %} 
            <!-- Personal Information Area -->
            <h4>Personal Information</h4>
            <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
              <div class="form-row">
                <div class=" form-group col">
                    <label for="inputFullName">Full name <span class="text-danger">*</span></label>
                    {{form.full_name}}
                </div>
                <div class="form-group col">
                    <label for="inputEmail">Email</span></label>
                    {{form.email}}
                </div>
                <div class="form-group col">
                    <label for="inputPhoneNumber">Phone Number <span class="text-danger">*</span></label>
                    {{form.phone_number}}
                </div>
              </div>

              <div class="form-row">
                <div class="form-group col">
                    <label for="inputRegion">Region <span class="text-danger">*</span></label>
                    {{form.region}}
                </div>
                <div class="col">
                    <label for="inputDistrict">District <span class="text-danger">*</span></label>
                    {{form.district}}
                </div>
                <div class="col">
                    <label for="inputWArd">Ward <span class="text-danger">*</span></label>
                    {{form.ward}}
                </div>
              </div>
              <!-- Personal Information Area End -->

              <!-- Product Details Area -->
              <h4>Product Details</h4>
              <div class="form-row">
                <div class="form-group col">
                    <label for="inputProduct">Product Name <span class="text-danger">*</span></label>
                    {{form.product_name}}
                </div>
                <div class="col">
                    <label for="Scale">Scale <span class="text-danger">*</span></label>
                    {{form.scale}}
                </div>
                <div class="col">
                    <label for="inputQuantity">Amount <span class="text-danger">*</span></label>
                    {{form.amount}}
                </div>
                <div class="col">
                    <label for="inputPrice">Price <span class="text-danger">*</span></label>
                    {{form.price}}
                </div>
              </div>
              <!-- Product Details Area End -->
            <div class="form-row">
                <div class="form-group col-3">
                    <label for="file"> Select Product Image</label>
                    {{form.thumbnail}}
                </div>
            </div>

              <div class="submit">
                <button type="submit" id="submitBtn" name="submit" class="btn famie-btn">Save</button>
              </div>
            </form>
        </div>
    </section>

{% endblock content %}

