{% extends 'base.html' %} {% load static %} {% block content %}

  <!-- ##### Breadcrumb Area Start ##### -->
  <div class="breadcrumb-area bg-img bg-overlay jarallax" style="background-image: url({% static 'img/bg-img/breadcrumb.jpg' %});">
    <div class="container h-100">
      <div class="row h-100 align-items-center">
        <div class="col-12">
          <div class="breadcrumb-text">
            <h2>Products</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="famie-breadcrumb">
    <div class="container">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html"><i class="fa fa-home"></i> Home</a></li>
          <li class="breadcrumb-item active" aria-current="page">Products</li>
        </ol>
      </nav>
    </div>
  </div>
  <!-- ##### Breadcrumb Area End ##### -->

  <div class="container pb-5">
    <div class="col-lg-8 mx-auto border p-3 main-section shadow bg-white">
        <div class="row hedding m-0 pl-3 pt-0 pb-3">
            Posted on: {{ item.date_created | date:"DATE_FORMAT" }}
        </div>
        <div class="row m-0">
            <div class="col-lg-4 left-side-product-box pb-3">
                <img src="{{ item.thumbnail.url }}" class="border p-3">
            </div>
            <div class="col-lg-8">
                <div class="right-side-pro-detail border p-3 m-0">
                    <div class="row">
                        <div class="col-lg-12">
                            <p class="m-0 p-0">{{ item.product_name }}</p>
                        </div>
                        <div class="col-lg-12">
                            <p class="m-0 p-0 price-pro">TSH {{item.price}}</p>
                            <hr class="p-0 m-0">
                        </div>
                        <div class="col-lg-12 pt-2">
                            <h5>Product Detail</h5>
                            <span></span>
                            <!-- <hr class="m-0 pt-2 mt-2"> -->
                        </div>
                        <div class="col-lg-12">
                          <table class="table">
                            <tbody>
                              <tr>
                                <th scope="row" class="text-uppercase">Seller's Name </th>
                                <td>{{ item.full_name}}</td>
                              </tr>
                              <tr>
                                <th scope="row" class="text-uppercase">Location</th>
                                <td>{{ item.region }}, {{ item.district }}, {{ item.ward }}</td>
                              </tr>
                              <tr>
                                <th scope="row" class="text-uppercase">Scale</th>
                                <td>{{ item.scale }}</td>
                              </tr>
                              <tr>
                                <th scope="row" class="text-uppercase">Amount</th>
                                <td>{{ item.amount }}</td>
                              </tr>
                            </tbody>
                          </table>
                        </div>

                        <div class="col-lg-12 mt-3">
                            <div class="row">
                                <div class="col-lg-6 pb-2">
                                    <a href="Mailto:{{ item.email }}" class="btn btn-danger w-100">Email Seller</a>
                                </div>
                                <div class="col-lg-6">
                                    <a href="tel:{{item.phone_number}}" class="btn btn-success w-100">Contact Seller</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center pt-3 ">
              <div class="more-prod-btn">
                <a href="{% url 'market' %}" class="btn famie-btn rounded">More Product</a>
              </div>
            </div>
        </div>
    </div>
  </div>

{% endblock content %}
