{% extends 'base.html' %} {% load static %} {% block content %}


  <!-- ##### Breadcrumb Area Start ##### -->
  <div class="breadcrumb-area bg-img bg-overlay jarallax" style="background-image: url({% static 'img/bg-img/breadcrumb.jpg' %});">
    <div class="container h-100">
      <div class="row h-100 align-items-center">
        <div class="col-12">
          <div class="breadcrumb-text">
            <h2>Products</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="famie-breadcrumb">
    <div class="container">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html"><i class="fa fa-home"></i> Home</a></li>
          <li class="breadcrumb-item active" aria-current="page">Products</li>
        </ol>
      </nav>
    </div>
  </div>
  <!-- ##### Breadcrumb Area End ##### -->

  <!-- ##### Shop Area Start ##### -->
  <section class="shop-area section-padding-0-100">
    <div class="container">


      <div class="row">
        <!-- Shop Sidebar Area -->
        <div class="col-12 col-md-4 col-lg-3">

          <!-- Shopping Cart -->
          <div class=" mb-50">
            <h5 class="mb-30">Farming Practice</h5>
            <!-- Cart Table -->
            <div class="practice-table clearfix">
              <table class="table table-responsive">
                <!-- tbody -->
                <tbody>
                 {% for post in posts %}
                  <!-- Single Table Row -->
                  <tr>
                    <td class="practice_img">
                      <a href="{% url 'practice_details' post.slug %}"><img src="{{post.thumbnail.url}}" alt="farming_practice"></a>
                    </td>
                    <td class="practice_desc">
                      <p>{{post.title}}</p>
                    </td>
                  </tr>
                </tbody>
                {% endfor %}
              </table>
            </div>

            <!-- Checkout -->
            <a href="{% url 'farming_practice' %}" class="btn famie-btn famie-practice-btn mt-30 w-100">View More</a>
          </div>

          <!-- Single Widget Area -->
          <div class="single-widget-area">
            <!-- Title -->
            <h5 class="widget-title">Catagories</h5>
            <!-- Cata List -->
            <ul class="cata-list shop-page">
              <li><a href="#">All products (72)</a></li>
              <li><a href="#">Freshy Fruits (20)</a></li>
              <li><a href="#">Rice &amp; Corn (15)</a></li>
              <li><a href="#">Meat &amp; Eggs (20)</a></li>
              <li><a href="#">Milk &amp; Cheese (15)</a></li>
              <li><a href="#">Others (2)</a></li>
            </ul>
          </div>

          <!-- Single Widget Area -->
          <div class="single-widget-area">
            <!-- Title -->
            <h5 class="widget-title">Tags</h5>
            <!-- Tags -->
            <ul class="famie-tags">
              <li><a href="#">All product</a></li>
              <li><a href="#">Freshy Fruit</a></li>
              <li><a href="#">Sweet Corn</a></li>
              <li><a href="#">Chicken</a></li>
              <li><a href="#">Organic</a></li>
              <li><a href="#">Meat</a></li>
            </ul>
          </div>

        </div>

        <!-- Shop Products Area -->
        <div class="col-12 col-md-8 col-lg-9">
          <div class="row">
            {% for product in queryset %}

            <!-- Single Product Area -->
            <div class="col-12 col-sm-6 col-lg-4">
              <div class="single-product-area mb-50">
                <!-- Product Thumbnail -->
                <div class="product-thumbnail shadow">
                  <img src="{{ product.thumbnail.url }}" alt="">
                  <!-- Product Meta Data -->
                  <div class="product-meta-data">
                    <a href="#" data-toggle="tooltip" data-placement="top" title="Favourite"><i class="icon_heart_alt"></i></a>
                  </div>
                </div>
                <!-- Product Description -->
                <div class="product-desc text-center pt-4">
                  <a href="{% url 'product_details' product.slug %}" class="product-title">{{product.product_name}}</a>
                  <h6 class="price"></h6>
                </div>
              </div>
            </div>
            {% endfor %}

          </div>

        <!-- pagination -->
          <nav>
            <ul class="pagination wow fadeInUp" data-wow-delay="900ms">
              {% if queryset.has_previous %}
              <li class="page-item"><a class="page-link" href="?{{ page_request_var }}={{ queryset.privious_page_number }}"><i class="fa fa-angle-left"></i></a></li>
              {% endif %}
              <li class="page-item active"><a class="page-link" href="?{{ page_request_var }}={{ queryset.number }}">{{ queryset.number}}</a></li>
              {% if queryset.has_next %}
              <li class="page-item"><a class="page-link" href="?{{ page_request_var }}={{ queryset.next_page_number }}"><i class="fa fa-angle-right"></i></a></li>
              {% endif %}
            </ul>
          </nav>
        </div>
      </div>

    </div>
  </section>
  <!-- ##### Shop Area End ##### -->
{% endblock content %}
