{% extends 'base.html' %} 
{% load static %} 
{% block content %}

<!-- ##### Breadcrumb Area Start ##### -->

<div class="famie-breadcrumb">
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/"><i class="fa fa-home"></i> Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">News Details</li>
            </ol>
        </nav>
    </div>
</div>
<!-- ##### Breadcrumb Area End ##### -->

<!-- ##### News Details Area Start ##### -->
<section class="news-details-area section-padding-0-100">
    <div class="container">
        <div class="row">
            <div class="col-12 mb-50">
                <!-- News Details Content -->
                <div class="news-details-content text-center">
                    <h6>Post on <a href="#" class="post-date">{{ news.publish_date | date:"DATE_FORMAT" }}</a> <a href="#" class="post-author">| {{ news.author }}</a></h6>
                    <h2 class="post-title">{{ news.title }}</h2>
                    <div class="benefits-thumbnail mb-50">
                        <img src="{{ news.thumbnail.url}}" alt="" class="rounded">
                    </div>
                    <div>
                        {{ news.content | safe }}
                    </div>

                    <!-- Share & Tags -->
                    <div class="share-tags d-flex flex-wrap align-items-center justify-content-between">
                        <!-- Share -->
                        <div class="share-post d-flex align-items-center">
                            <span>Share This post:</span>
                            <!-- Share Icons -->
                            <div class="share-icons">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-pinterest"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Comment Area Start -->
                <div class="comment_area clearfix mb-50"> 

                    <!-- Title -->
                    <h3 class="mb-50">{{comments.count}} Comments</h3>

                    <ul>
                        {% for comment in comments %}
                        <!-- Single Comment Area -->
                        <li class="single_comment_area">
                            <!-- Comment Content -->
                            <div class="comment-content d-flex">
                                <!-- Comment Author -->
                                <div class="comment-author">
                                    <img src="{% static 'img/bg-img/31.jpg' %}" alt="author">
                                </div>
                                <!-- Comment Meta -->
                                <div class="comment-meta">
                                    <a href="#" class="comment-date">{{comment.created_on | date:"DATE_FORMAT"}}</a>
                                    <h6>{{comment.name}}</h6>
                                    <p>{{comment.message}}</p>
                                    <a href="#commentForm" class="reply">Reply</a>
                                </div>
                            </div>
                        </li>
                        {% endfor %}
                    </ul>
                </div>

                <!-- Post A Comment Area -->
                <div class="post-a-comment-area" id="commentForm">

                    <!-- Title -->
                    <h3 class="mb-50">Leave A Reply</h3>

                    <!-- Reply Form -->
                    <div class="contact-form-area">
                        <form method="post" id="myForm">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-12 col-lg-6">
                                    {{comment_form.name}}
                                </div>
                                <div class="col-12 col-lg-6">
                                    {{comment_form.email}}
                                </div>
                                <div class="col-12">
                                    {{comment_form.message}}
                                </div>
                                <div class="col-12">
                                    <button class="btn famie-btn mt-30" type="submit" value="submit" onclick="submitForm()">Submit Comment</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
<!-- ##### News Details Area End ##### -->

{% endblock content %}