{% extends 'base.html' %} 
{% load static %}
{% block content %}
    <!-- ##### Breadcrumb Area Start ##### -->
    <div class="breadcrumb-area bg-img bg-overlay jarallax" style="background-image: url({% static 'img/bg-img/18.jpg' %});">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12">
                    <div class="breadcrumb-text">
                        <h2>Farming Practice</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="famie-breadcrumb">
        <div class="container">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html"><i class="fa fa-home"></i> Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Farming Practice</li>
                </ol>
            </nav>
        </div>
    </div>
    <!-- ##### Breadcrumb Area End ##### -->

    <!-- ##### About Us Area Start ##### -->
    <section class="about-us-area">
        <div class="container">
            <div class="row align-items-center">

                <!-- About Us Thumbnail -->
                <div class="col-12 col-lg-6">
                    {% for intro in introduction %}
                    <div class="about-us-thumbnail mb-100">
                        <img src="{{ intro.image.url }}" alt="">
                    </div>
                </div>

                <!-- About Us Content -->
                <div class="col-12 col-lg-6">
                    <div class="about-us-content mb-100">
                        <!-- Section Heading -->
                        <div class="section-heading">
                            <p>FARMING PROCESS</p>
                            <h2><span>Farming Practices</span> &amp; Methods</h2>
                            <img src="{% static 'img/core-img/decor.png' %}" alt="">
                        </div>
                        <p>{{ intro.overview }}</p>
                        <a href="{% url 'practice_intro' %}" class="btn famie-btn mt-30">Read More</a>
                    </div>
                    {% endfor %}
                </div>

            </div>
        </div>
    </section>
    <!-- ##### About Us Area End ##### -->

    <!-- ##### Farming Practice Area Start ##### -->
    <section class="farming-practice-area bg-gray section-padding-100-50">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <!-- Section Heading -->
                    <div class="section-heading text-center">
                        <p>Make the world green</p>
                        <h2><span>Farming Practices</span> To Preserve Land & Water</h2>
                        <img src="{% static 'img/core-img/decor2.png' %}" alt="">
                    </div>
                </div>
            </div>

            <div class="row">

                <!-- Single Farming Practice Area -->
                {% for obj in queryset %}

                <div class="col-12 col-sm-6 col-lg-4">

                    <div class="single-farming-practice-area mb-50 wow fadeInUp" data-wow-delay="100ms">

                        <!-- Thumbnail -->
                        <div class="farming-practice-thumbnail">
                            <img src="{{obj.thumbnail.url}} " class="rounded" alt="">
                        </div>
                        <!-- Content -->
                        <div class="farming-practice-content text-center">
                            <!-- Icon -->
                            <div class="farming-icon">
                                <img src="{{obj.icon.url}}" alt="">
                            </div>
                            <span>Farming practice for</span>
                            <a href="{% url 'practice_details' obj.slug %}"><h4>{{ obj.title }}</h4></a>
                            <p>{{ obj.overview }}</p>
                        </div>

                    </div>
                </div>
                {% endfor %}    


            </div>
        <!-- pagination -->
          <nav>
            <ul class="pagination wow fadeInUp" data-wow-delay="900ms">
              {% if queryset.has_previous %}
              <li class="page-item"><a class="page-link" href="?{{ page_request_var }}={{ queryset.privious_page_number }}"><i class="fa fa-angle-left"></i></a></li>
              {% endif %}
              <li class="page-item active"><a class="page-link" href="?{{ page_request_var }}={{ queryset.number }}">{{ queryset.number}}</a></li>
              {% if queryset.has_next %}
              <li class="page-item"><a class="page-link" href="?{{ page_request_var }}={{ queryset.next_page_number }}"><i class="fa fa-angle-right"></i></a></li>
              {% endif %}
            </ul>
          </nav>
        </div>
        <!-- Pagination End -->
    </section>
    <!-- ##### Farming Practice Area End ##### -->

{% endblock content %}