{% extends 'base.html' %} 
{% load static %} 
{% block content %}

<!-- ##### Hero Area Start ##### -->
<div class="hero-area">
    <div class="welcome-slides owl-carousel">

        <!-- Single Welcome Slides -->
        <div class="single-welcome-slides bg-img bg-overlay jarallax" style="background-image: url({% static 'img/bg-img/1.jpg' %});">
            <div class="container h-100">
                <div class="row h-100 align-items-center">
                    <div class="col-12 col-lg-10">
                        <div class="welcome-content">
                            <h2 data-animation="fadeInUp" data-delay="200ms">The hearth of the farm is the true center of our universe.</h2>
                            <p data-animation="fadeInUp" data-delay="400ms">Mauris vestibulum dolor nec lacinia facilisis. Fusce interdum sagittis volutpat. Praesent eget varius ligula, malesuada eleifend purus. Aenean euismod est at mauris mollis ultricies. Morbi arcu mi, dictum eu luala, dapibus
                                interdum mollis.</p>
                            <a href="contact.html" class="btn famie-btn mt-4" data-animation="bounceInUp" data-delay="600ms">Contact Us</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Single Welcome Slides -->
        <div class="single-welcome-slides bg-img bg-overlay jarallax" style="background-image: url({% static 'img/bg-img/7.jpg' %});">
            <div class="container h-100">
                <div class="row h-100 align-items-center">
                    <div class="col-12 col-lg-10">
                        <div class="welcome-content">
                            <h2 data-animation="fadeInDown" data-delay="200ms">The hearth of the farm is the true center of our universe.</h2>
                            <p data-animation="fadeInDown" data-delay="400ms">Mauris vestibulum dolor nec lacinia facilisis. Fusce interdum sagittis volutpat. Praesent eget varius ligula, malesuada eleifend purus. Aenean euismod est at mauris mollis ultricies. Morbi arcu mi, dictum eu luala, dapibus
                                interdum mollis.</p>
                            <a href="contact.html" class="btn famie-btn mt-4" data-animation="bounceInDown" data-delay="600ms">Contact Us</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<!-- ##### Hero Area End ##### -->

<!-- ##### Farming Practice Area Start ##### -->
<section class="farming-practice-area section-padding-100-50">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <!-- Section Heading -->
                <div class="section-heading text-center">
                    <p>Make the green world</p>
                    <h2><span>Farming Practices</span> To Preserve Land & Water</h2>
                    <img src="{% static 'img/core-img/decor2.png' %}" alt="">
                </div>
            </div>
        </div>

        <div class="row">

                <!-- Single Farming Practice Area -->
                {% for obj in object_list %}

                <div class="col-12 col-sm-6 col-lg-4">

                    <div class="single-farming-practice-area mb-50 wow fadeInUp" data-wow-delay="100ms">

                        <!-- Thumbnail -->
                        <div class="farming-practice-thumbnail">
                            <img src="{{obj.thumbnail.url}}" alt="">
                        </div>
                        <!-- Content -->
                        <div class="farming-practice-content text-center">
                            <!-- Icon -->
                            <div class="farming-icon">
                                <img src="{{obj.icon.url}}" alt="">
                            </div>
                            <span>Farming practice for</span>
                            <a href="{% url 'practice_details' obj.slug %}"><h4>{{obj.title}}</h4></a>
                            <p>{{obj.overview}}</p>
                        </div>

                    </div>
                </div>
                {% endfor %}    


            </div>
                <div class="gotoshop-btn text-center wow fadeInUp" data-wow-delay="900ms">
                    <a href="{% url 'farming_practice' %}" class="btn famie-btn">View More</a>
                </div>
        </div>
    </section>
<!-- ##### Farming Practice Area End ##### -->

<!-- ##### News Area Start ##### -->
<section class="news-area bg-gray section-padding-100-0">
    <div class="container">
        <div class="section-heading text-center">
            <h2><span>Featured</span> News</h2>
            <img src="{% static 'img/core-img/decor2.png' %}" alt="">
        </div>
        <div class="row">
            {% for news in featured_news %}

            <!-- Featured Post Area -->
            <div class="col-12 col-lg-6">
                <div class="featured-post-area mb-100 wow fadeInUp" data-wow-delay="100ms">
                    <img src="{{ news.featured_thumbnail.url }}" alt="">
                    <!-- Post Content -->
                    <div class="post-content">
                        <h6>Post on <a href="#">{{ news.date_created | timesince }} Ago</a> | <a href="#">{{ news.author.user.username }}</a></h6>
                        <a href="{% url 'news_details' news.slug %}" class="post-title">{{ news.title }}</a>
                    </div>
                </div>
            {% endfor %}

            </div>

            <!-- Single Blog Area -->
            <div class="col-12 col-lg-6 mb-100">

                {% for list in news_list %}
                <!-- Single Blog Area -->
                <div class="single-blog-area style-2 wow fadeInUp" data-wow-delay="300ms">
                    <!-- Post Content -->
                    <div class="post-content">
                        <h6>Post on <a href="#">{{ list.date_created | timesince }} Ago</a> | <a href="#">{{ list.author.user.username }}</a></h6>
                        <a href="{% url 'news_details' list.slug %}" class="post-title">{{ list.title }}</a>
                        <p>{{ list.overview }}</p>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
<!-- ##### News Area End ##### -->

<!-- ##### Newsletter Area Start ##### -->
<section class="newsletter-area section-padding-100 bg-img bg-overlay jarallax" style="background-image: url({% static 'img/bg-img/8.jpg' %});">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-10">
                <div class="newsletter-content">
                    <!-- Section Heading -->
                    <div class="section-heading white text-center">
                        <p>Never Miss a Post</p>
                        <h2><span>Subscribe </span>to keep your fingers on the agriculture pulse.</h2>
                        <img src="{% static 'img/core-img/decor2.png' %}" alt="">
                    </div>
                    <p class="text-white mb-50 text-center">
                        By submitting this form, you are agreeing to receive e-mails from us.
                    </p>
                </div>
            </div>
        </div>
        <!-- Newsletter Form -->
        <div class="row justify-content-center">
            <div class="col-12 col-lg-6">
                <form action="." method="POST">
                {% csrf_token %}
                    <input type="email" name="email" id="email "class="form-control" placeholder="Enter your email">
                    <button type="submit" id="subscribeBtn" class="btn famie-btn">Subscribe</button>
                </form>
            </div>
        </div>
    </div>
</section>
<!-- ##### Newsletter Area End ##### -->

{% endblock %}