{% extends 'base.html' %}
{% load static %}
{% block content %}

  <!-- ##### Breadcrumb Area Start ##### -->
 
  <div class="famie-breadcrumb">
    <div class="container">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html"><i class="fa fa-home"></i> Home</a></li>
          <li class="breadcrumb-item active" aria-current="page">News Details</li>
        </ol>
      </nav>
    </div>
  </div>
  <!-- ##### Breadcrumb Area End ##### -->

  <!-- ##### News Details Area Start ##### -->
  <section class="news-details-area section-padding-0-100">
    <div class="container">
      <div class="row">
        <div class="col-12 mb-50">
          <!-- News Details Content -->
          <div class="news-details-content text-center">
            <h6>Post on <a href="#" class="post-date">{{ post.date_created | timesince }}</a> Ago <a href="#" class="post-author">| {{ post.author }}</a></h6>
            <h2 class="post-title">{{ post.title }}</h2>
            <div class="benefits-thumbnail mb-50">
                    <img src="{{ post.thumbnail.url}}" alt="">
                </div>
              <div >
                {{ post.content | safe }}
              </div>  

            <!-- Share & Tags -->
            <div class="share-tags d-flex flex-wrap align-items-center justify-content-between">
              <!-- Share -->
              <div class="share-post d-flex align-items-center">
                <span>Share This post:</span>
                <!-- Share Icons -->
                <div class="share-icons">
                  <a href="#"><i class="fa fa-facebook"></i></a>
                  <a href="#"><i class="fa fa-twitter"></i></a>
                  <a href="#"><i class="fa fa-pinterest"></i></a>
                </div>
              </div>
              <!-- Tags -->
              <ul class="famie-tags">
                <li><a href="#">All product</a></li>
                <li><a href="#">Freshy Fruit</a></li>
                <li><a href="#">Sweet Corn</a></li>
              </ul>
            </div>
          </div>

          <!-- Comment Area Start -->
          <div class="comment_area clearfix mb-50">

            <!-- Title -->
            <h3 class="mb-50">3 Comments</h3>

            <ul>
              <!-- Single Comment Area -->
              <li class="single_comment_area">
                <!-- Comment Content -->
                <div class="comment-content d-flex">
                  <!-- Comment Author -->
                  <div class="comment-author">
                    <img src="{% static 'img/bg-img/31.jpg' %}" alt="author">
                  </div>
                  <!-- Comment Meta -->
                  <div class="comment-meta">
                    <a href="#" class="comment-date">27 Aug 2019</a>
                    <h6>Diego Simeone</h6>
                    <p>Neque porro quisquam est, qui dolorem ipsum quia dolor sitdown ameto, consectetur, adipisci velit, sed quiata non numqua eius modi tempor incidunt ut labore et dolore magnam, semper quis mollis id, ullamcorper ut diam.</p>
                    <a href="#" class="reply">Reply</a>
                  </div>
                </div>

                <ol class="children">
                  <li class="single_comment_area">
                    <!-- Comment Content -->
                    <div class="comment-content d-flex">
                      <!-- Comment Author -->
                      <div class="comment-author">
                        <img src="{% static 'img/bg-img/32.jpg' %}" alt="author">
                      </div>
                      <!-- Comment Meta -->
                      <div class="comment-meta">
                        <a href="#" class="comment-date">27 Aug 2019</a>
                        <h6>Susie Martha</h6>
                        <p>Neque porro quisquam est, qui dolorem ipsum quia dolor sitdown ameto, consectetur, adipisci velit, sed quiata non numqua eius modi tempor incidunt ut labore et dolore magnam, semper quis mollis id, ullamcorper ut diam.</p>
                        <a href="#" class="reply">Reply</a>
                      </div>
                    </div>
                  </li>
                </ol>
              </li>

              <!-- Single Comment Area -->
              <li class="single_comment_area">
                <!-- Comment Content -->
                <div class="comment-content d-flex">
                  <!-- Comment Author -->
                  <div class="comment-author">
                    <img src="{% static 'img/bg-img/33.jpg' %}" alt="author">
                  </div>
                  <!-- Comment Meta -->
                  <div class="comment-meta">
                    <a href="#" class="comment-date">27 Aug 2019</a>
                    <h6>Jonny Evans</h6>
                    <p>Neque porro quisquam est, qui dolorem ipsum quia dolor sitdown ameto, consectetur, adipisci velit, sed quiata non numqua eius modi tempor incidunt ut labore et dolore magnam, semper quis mollis id, ullamcorper ut diam.</p>
                    <a href="#" class="reply">Reply</a>
                  </div>
                </div>
              </li>
            </ul>
          </div>

          <!-- Post A Comment Area -->
          <div class="post-a-comment-area">

            <!-- Title -->
            <h3 class="mb-50">Leave A Reply</h3>

            <!-- Reply Form -->
            <div class="contact-form-area">
              <form action="#" method="post">
                <div class="row">
                  <div class="col-12 col-lg-6">
                    <input type="text" class="form-control" id="name" placeholder="Your Name*">
                  </div>
                  <div class="col-12 col-lg-6">
                    <input type="email" class="form-control" id="email" placeholder="Your Email*">
                  </div>
                  <div class="col-12">
                    <textarea name="message" class="form-control" id="message" placeholder="Message*"></textarea>
                  </div>
                  <div class="col-12">
                    <button class="btn famie-btn mt-30" type="submit">Submit Comment</button>
                  </div>
                </div>
              </form>
            </div>
          </div>

        </div>
      </div>
    </div>
  </section>
  <!-- ##### News Details Area End ##### -->
{% endblock content %}