{% extends 'base.html' %}
{% block content %}
{% load static %}

    <!-- ##### Breadcrumb Area Start ##### -->
    <div class="breadcrumb-area bg-img bg-overlay jarallax" style="background-image: url({% static 'img/bg-img/breadcrumb.jpg' %});">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12">
                    <div class="breadcrumb-text">
                        <h2>Search Results</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="famie-breadcrumb">
        <div class="container">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/"><i class="fa fa-home"></i> Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Results</li>
                </ol>
            </nav>
        </div>
    </div>
    <!-- ##### Breadcrumb Area End ##### -->

    
<!-- Search Results Area Start -->
<section>
    <div class="container">
        <div class="section-heading text-center">
            <h2>Your search <span>Results</spamn></h2>
        </div>
            {% for result in queryset %}
            <div class="card mb-3 shadow" style="max-width: 540px;">
              <div class="row no-gutters">
                <div class="col-md-4">
                  <img src="{{ result.thumbnail.url }}" alt="...">
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <a href="{% url 'practice_details' result.slug %}"><h5 class="card-title">{{ result.title }}</h5></a>
                    <p class="card-text">{{ result.overview | truncatewords_html:6|safe }}</p>
                    <p class="card-text"><small class="text-muted">{{ result.date_created | timesince }} Ago | <a href="#">{{ result.author }}</a></small></p>
                  </div>
                </div>
              </div>
            </div>
            {% endfor %}
    </div>
</section>  
<!-- Search Result Area End -->

{% endblock content %}