{% extends 'base.html' %} {% block content %}

        <div class="jumbotron jumbotron-fluid text-center">
            <h1 class="display-5">Thank you for getting in touch!</h1>
            <p class="lead">We appreciate you contacting us. One of our colleagues will get back in touch with you soon!</p>
            <p class="lead">
                <a class="btn famie-btn mt-30" href="{% url 'index' %}" role="button">Continue to homepage</a>
            </p>
        </div>
    </div>

{% endblock content %}